<div ng-controller="Umbraco.PropertyEditors.MemberPickerController" class="umb-editor umb-memberpicker">
    
    <h1>Hello!!!!</h1>

    <ul class="unstyled list-icons" 
    		ui-sortable
    		ng-model="renderModel">	
    		<li ng-repeat="node in renderModel">

    			<i class="icon icon-navigation handle"></i>

    			<a href="#" prevent-default ng-click="remove($index)">
    				<i class="icon icon-delete red hover-show"></i>
    				<i class="{{node.icon}} hover-hide"></i> 
    					{{node.name}}
    			</a>
    		</li>
    	</ul>

	<ul class="unstyled list-icons" ng-show="cfg.multiPicker === true || renderModel.length === 0">	
		<li>
            <i class="icon icon-add blue"></i> 
			<a href="#" ng-click="openMemberPicker()" prevent-default>
				<localize key="general_add">Add</localize>
			</a>
		</li>
	</ul>
</div>