<form novalidate name="contentForm" 
      ng-controller="Umbraco.Editors.DataType.EditController" 
      ng-show="loaded" 
      ng-submit="save()"
      val-form-manager>
    <umb-panel>

        <umb-header>

            <div class="span7">
                <umb-content-name
                    placeholder="@placeholders_entername"
                    ng-model="content.name"/>
            </div>

            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <umb-options-menu ng-show="currentNode"
                        current-node="currentNode" 
                        current-section="{{currentSection}}">                        
                    </umb-options-menu>

                </div>
            </div>
        </umb-header>
        
        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal">
                <div class="umb-pane">
                    
                    <umb-property property="properties.selectedEditor">                        
                        <div>
                            <select name="selectedEditor"
                                    ng-model="content.selectedEditor" 
                                    required  
                                    ng-options="e.alias as e.name for e in content.availableEditors"></select>
                            <span class="help-inline" val-msg-for="selectedEditor" val-toggle-msg="required">Required</span>
                        </div>

                    </umb-property>
                    
                    <umb-property property="properties.selectedEditorId">
                        <div>{{content.selectedEditor}}</div>
                    </umb-property>
                    
                    
                    <umb-property 
                        property="preValue" 
                        ng-repeat="preValue in preValues">
                        
                        <umb-editor model="preValue" is-pre-value="true"></umb-editor>
                    </umb-property>


                    <div class="umb-tab-buttons" detect-fold>
                        <div class="btn-group">
                            <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                                <localize key="buttons_save">Save</localize>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </umb-panel>
</form>
