﻿@inherits UmbracoTemplatePage

@if (CurrentPage.HideBanner == false)
{
    <!-- Banner -->
    <div id="banner-wrapper" style="background: url('@CurrentPage.BannerBackgroundImage') center center no-repeat;">
        <section id="banner">
            <h2>@Umbraco.Field("bannerHeader")</h2>
            <span class="byline">@Umbraco.Field("bannerSubheader")</span>
            <a href="@Umbraco.Content(CurrentPage.BannerLink.ToString()).Url" class="button">@Umbraco.Field("bannerLinkText")</a>
        </section>
    </div>
    <!-- /Banner -->
}