﻿<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    <script src="/scripts/jquery-2.1.0.js"></script>
    <script src="/scripts/recipebuilder/RecipeClient.js"></script>
    <script src="/scripts/angular.js"></script>
    <script src="/scripts/recipebuilder/app.js"></script>
    <script src="/scripts/recipebuilder/controllers.js"></script>
    <script src="/scripts/jquery.jeditable.js"></script>
</head>
<body ng-app="recipeBuilderApp">
    @RenderBody()
</body>
</html>
