﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_RecipesLayout.cshtml";
}

<script type="text/javascript">
    var recipeClient = new RecipeClient("");

    $(document).ready(function () {
        $("[property-alias]").editable(function (value, settings) {

            var closestRecipe = $(this).closest('[recipe-id]')

            $scope = angular.element(closestRecipe[0]).scope();

            var recipeId = closestRecipe.attr('recipe-id')
            var propAlias = $(this).attr('property-alias')

            $scope.UpdateRecipe(recipeId, propAlias, value);
            
            return value;
        },
        {
            submit: 'OK'
        })
    });

</script>

<div ng-controller="recipeController">
    <div data-ng-repeat="recipe in recipes">
        <div recipe-id="{{recipe.RecipeId}}">
            <span property-alias="name">{{recipe.Name}}</span>
            (<span property-alias="style">{{recipe.Style}}</span>)
        </div>
    </div>
    <div>
        <h1>Add a recipe!</h1>
        <div>
            <span>Name: </span><input ng-model="newRecipe.name" type="text" />
         </div>
        <div>
            <span>Style: </span><input ng-model="newRecipe.style" type="text" />
        </div>
        <div>
            <span>Volume in gallons: </span><input ng-model="newRecipe.gallons" type="text" />
        </div>
        <div>
            <span>Alcohol by volume: </span><input ng-model="newRecipe.abv" type="text" />
        </div>
        <div>
            <span>Description: </span><textarea ng-model="newRecipe.description" ></textarea>
        </div>
        <input id="newRecipeButton" type="button" value="Add Recipe" ng-click="AddRecipe(newRecipe)" />
    </div>
</div>